mixin task(task)
  - var classes = ['task']
  - if(task.listname==="Completed") classes.push('completed')
  tr(class=classes)
    td(data-label='Board')= task.boardname
    td(data-label='Task')
      = task.name
      a(href=task.shortUrl,target='_blank') link
    td(data-label='Time',class=task.listname==="Completed" ? "" :"duration",style="background-size:" + (100*task.durationHours/(8*10)) + "% 100%")= task.durationText
    td(data-label='List')= task.listname
    td(data-label='Due')= task.due ? (new Date(task.due)).toISOString().substr(0,10) : "-"
